@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.text {
  font-size: xx-large;
}
.task {
  display: flex;
  margin: 1em;
}
#taskContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.space {
  margin: 1em;
}
